body {
    
    background-image: url(https: //traversymedia.com/downloads/assets/beachshowcase.jpg);

    color: rgb(202, 107, 48);
}
header {

    
    background-size: cover;
    background-position: center;

}